h1 {
    color: grey;
    /* background-color: yellow; */
    border: 1px solid white;

}
  
.first-line {
    color: rgb(54, 202, 25);
}

span {
    border: 1px solid black;
    /* background-color: lime; */
}

.first-page {
    background-color: #789FCC;
}

body {
    /* background-color: #789FCC; */
    width: 800px;
    /* text-align: center; */
}

p {
    font-size: 32px;
    color: green;
    font-family: Karla;
}

main {
    text-align: center;
}

.post-it {
    height: 150px;
    width: 150px;
    background-color: gold;
    font-family: Karla;
    float: left;
    margin: 12px;
    box-shadow: 2px 2px 5px #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.potato {
    width: 60px;
    height: 60px;
    /* Show a solid border, none for no border (default) */
    border-style: solid;
    /* Say how thick the border should look */
    border-width: 20px;
    /* Tell a color */
    border-color: #ffd966;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
 }

 .potahto {
    width: 60px;
    height: 60px;
    /* Show a solid border, none for no border (default) */
    border-style: solid;
    /* Say how thick the border should look */
    border-width: 20px;
    /* Tell a color */
    border-color: #6669ff;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
 }
 

 .page {
     height: auto;
     width: 750px;
     margin: 10px 10px 200px 10px;
 }