.content-parent {
	text-align: center;
	background-color: #ff8b8b;
}

.content {
	border: 10px ridge #f1daff;
	background-color: #ccffff; 
	padding: .5rem;
	display: flex;
	flex-direction: column;
}

.img-container {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
