.flex-parent {
	display: flex;
	width: 100%
}

.title-box {
	display: flex;
	justify-content: center;
	background-color: black;
	width: 300px;

	flex-grow: 1;
	flex-basis: 0;	
}

.title-box p {
	justify-content: center;

	display: inline-block;

	color: white;

	padding-top: 15px;
	padding-bottom: 15px;

	font-size: 30px;
	letter-spacing: 3px;


}

.center-box {
	align-items: center;
	width: 100%;
	flex-grow: 1;
	flex-basis: 0;	
	flex-direction: column;
}

.center-box ul {
	list-style-type: none;

	/* trying to center the list in the frigging div gosh darn it */
	align-self: center;
	display: flex;
	flex-direction: column;
	width: 100%;

}


.center-box ul li {
	align-self: center;
}
